.checkbox__label {
  position: relative;
  cursor: pointer;
  margin: 0.6em 1em;
}

.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.checkbox__indicator {
  width: 24px;
  height: 24px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--black-300);
  border-radius: 6px;
}
