.checkbox__label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox__label:hover {
  background-color: var(--black-100);
}

.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.checkbox__indicator {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid var(--black-300);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__indicator_checked {
  background-color: var(--edstein-primary-500);
  border: 2px solid var(--edstein-primary-600);
}

.icon__defalt {
  display: none;
}

.icon__visible {
  display: block;
}